[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-filter = "*"
python-decouple = "*"
psycopg2-binary = "*"
markdown = "*"

[requires]
python_version = "3.11"
